/*login variables*/
	/* login styles */
	$logo-image: ;
	$button-color: ;
	$login-background-color: white;
	$login-color: #333;
	$login-lcolor: #eee;
	$circle-border: #2b292a;
	$background-dashboard: #e5e5e5;
